In [7]:
df = pd.read_csv('C:\\Users\\lilyx\\BR-Data-Science\\test-version-v25\\trimmed_20k.csv')
df.head(3)

,Unnamed: 0,book_title,author,avg_rating,ISBN,genre,description
0,0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.33,439023483,"['Young Adult', 'Fiction', 'Science Fiction', ...","Could you survive on your own, in the wild, wi..."
1,1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,439358078,"['Fantasy', 'Young Adult', 'Fiction']",There is a door at the end of a silent corrido...
2,2,"Twilight (Twilight, #1)",Stephenie Meyer,3.59,316015849,"['Young Adult', 'Fantasy', 'Romance', 'Paranor...",About three things I was absolutely positive.F...

In [9]:
df.description

0        Could you survive on your own, in the wild, wi...
1        There is a door at the end of a silent corrido...
2        About three things I was absolutely positive.F...
3        It is 1939. Nazi Germany. The country is holdi...
4        George Orwell's timeless and timely allegorica...
5        Journeys to the end of the world, fantastic cr...
6        This four-volume, boxed set contains J.R.R. To...
7        Margaret Mitchell's monumental epic of the Sou...
8        "Once there was a tree...and she loved a littl...
9        You can find the redesigned cover of this edit...
10       An ingenious code hidden in the works of Leona...
11       A literary sensation and runaway bestseller, t...
12       "I can't explain myself, I'm afraid, sir," sai...
13       Written in his distinctively dazzling manner, ...
14       Orphaned as a child, Jane has felt an outcast ...
15       In Beatrice Prior's dystopian Chicago world, s...
16       In Romeo and Juliet, Shakespeare creates a vio...
17       At the dawn of the next world war, a plane cra...
18       Paulo Coelho's masterpiece tells the mystical ...
19       Fyodor Mihayloviç Dostoyevski (1821-1881): İlk...
20       Andrew "Ender" Wiggin thinks he is playing com...
21       When fifteen-year-old Clary Fray heads out to ...
22       As soon as Anne Shirley arrives at the snug wh...
23       This beloved book by E. B. White, author of St...
24       The compelling story of two outsiders striving...
25       You can find an alternative cover edition for ...
26       Moral allegory and spiritual autobiography, Th...
27       Brave New World is a dystopian novel written i...
28       The brilliant, bestselling, landmark novel tha...
29       What happens when the most beautiful girl in t...
                               ...
19870    Four beautiful, professional women, living on ...
19871    In his late thirties, Max Fischer is a success...
19872    A canine search-and-rescue team find the missi...
19873    The Devil Bats are going to feel like dancing ...
19874    The Virgin in the Garden is a wonderfully erud...
19875    On 7 August 1889, an American woman, Florence ...
19876    THE LADY: Beth Ridgeway was a violet-eyed plat...
19877    "No work in modern literature, with the possib...
19878    Scarlet of Lysia is an honest peddler, a young...
19879    Camryn and Alex are twin witches that were rai...
19880    At fifteen, Natalie Ward believes her life is ...
19881    For this Bison Books edition, James Welch, the...
19882    A raw, edgy, emotional novel about growing up ...
19883    An eccentric scientist lies dead in his coffin...
19884    A companion guide to the New York Times bestse...
19885    When Theo agrees to print a traveling showman'...
19886    The Encyclopedia of Immaturity® has been such ...
19887    Rabbits. We'll never quite know why, but somet...
19888    The story of friendship between four African A...
19889    "These notes are about the process of design: ...
19890    Some kids say Mason Avrett is slow. What they ...
19891    Reprint of this sexualized version of the clas...
19892    The Lord said to Joseph Smith, "Draw near unto...
19893    The Honourable Galahad Threepwood has decided ...
19894    Written with maturity and wisdom, this book gi...
19895    When Brianna Amoretti catches her husband of a...
19896    What happens to a child when her own parents r...
19897     The secrets of the dead are in her hands. The...
19898    Midwest Book Review said: Don't expect pure fa...
19899    About Time offers a delightful return to the w...
Name: description, Length: 19900, dtype: object

In [1]:
import pandas as pd
from collections import Counter
import re
import spacy
from spacy.tokenizer import Tokenizer
from nltk.stem import PorterStemmer
import scattertext as st
from pprint import pprint

In [2]:
def get_termfreq_from_url(yelp_url, from_isbn=False):
    '''Takes a url, scrape site for reviews
    and calculates the term frequencies 
    sorts and returns the top 10 as a json object
    containing term, highratingscore, poorratingscore.'''

    #scrape
    
    #instantiate empty list of rating scores:
    ratings = []
    
    #iterate over the doc object for each book in the df to get the similarity score and append to list
    for doc in df.docs:
        sim = eachterm.generateRatingScores(doc)#returns scores
        ratings.append(sim)
        
    #sort the list and grab the top 10:
    if from_isbn:
        #skip the 0th ranked book which will be the bookused to get the yelp_url of the description:
        top10 = pd.Series(sims).sort_values(ascending=False).iloc[1:11]
    else:
        top10 = pd.Series(sims).sort_values(ascending=False).iloc[:10]

    #instantiate empty list to store the python dicts of each book
    term = []

    #iterate thru the top 10 ranked simlilar books and populate the book list w/ dictionaries for each book

    for i in top10.index:
        term = {}
    #     term['word'] = df.iloc[i]['word']
        term['highratingscore'] = df.iloc[i]['highratingscore']
        term['poorratingscore'] = str(df.iloc[i]['poorratingscore'])
        term.append(term)
    return json.dumps(term)

,0,1,2
1,\n 12/6/2018\n,Easy menu to maneuver and food quality and tas...,5.0 star rating
4,\n 2/7/2019\n,This is a great casual spot if you are wanting...,5.0 star rating

In [ ]:
def ValuePredictor(yelp_url, from_isbn=False):
    '''Takes a url, scrape site for reviews
    and calculates the term frequencies 
    sorts and returns the top 10 as a json object
    containing term, highratingscore, poorratingscore.'''
    
    base_url = "https://www.yelp.com/biz/" # add business id
    api_url = "/review_feed?sort_by=date_desc&start="
    bid = "flower-child-addison-2" # business id 
#     bid = yelp_url[24:]

    class Scraper():
        def __init__(self):
            self.data = pd.DataFrame()

        def get_data(self, n, bid=bid):
            with Session() as s:
                with s.get(base_url+bid+api_url+str(n*20)) as resp: #makes an http get request to given url and returns response as json
                    r = loads(resp.content) #converts json response into a dictionary
                    _html = html.fromstring(r['review_list']) #loads from dictionary

                    dates = _html.xpath("//div[@class='review-content']/descendant::span[@class='rating-qualifier']/text()")
                    reviews = [el.text for el in _html.xpath("//div[@class='review-content']/p")]
                    ratings = _html.xpath("//div[@class='review-content']/descendant::div[@class='biz-rating__stars']/div/@title")

                    df = pd.DataFrame([dates, reviews, ratings]).T

                    self.data = pd.concat([self.data,df])

        def scrape(self): #makes it faster
            # multithreaded looping
            with Executor(max_workers=40) as e:
                list(e.map(self.get_data, range(10)))

    s = Scraper()
    s.scrape()
    df = s.data
    df = df.sample(100)
    
    nlp.Defaults.stop_words |= {'he','check-in','=','= =','male','u','want', 'u want', 'cuz','him',"i've", 'deaf','on', 'her','told','told him','ins', '1 check','I', 'i"m', 'i', ' ', 'it', "it's", 'it.','they','coffee','place','they', 'the', 'this','its', 'l','-','they','this','don"t','the ', ' the', 'it', 'i"ve', 'i"m', '!', '1','2','3','4', '5','6','7','8','9','0','/','.',','}

    corpus = st.CorpusFromPandas(df, 
                             category_col=2, 
                             text_col=1,
                             nlp=nlp).build()

    term_freq_df = corpus.get_term_freq_df()
    term_freq_df['highratingscore'] = corpus.get_scaled_f_scores('5.0 star rating')

    term_freq_df['poorratingscore'] = corpus.get_scaled_f_scores('1.0 star rating')

    df = term_freq_df.sort_values(by= 'poorratingscore', ascending = False)

    df['highratingscore'] = round(df['highratingscore'], 2)
    df['poorratingscore'] = round(df['poorratingscore'], 2)
    
    list1 = []
    for i in df.index[:10]:
        list1.append(i)

    return json.dumps(list1)